name: CI-CD
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: npx yarn
    - name: Simulate build step
      run: |
        mkdir dist
        echo "Hello from CI/CD!" > dist/index.html
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: assets
        path: dist

